@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

/* Panel lateral*/

.sidenav {
    height: 100%;
    width: 2%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0063B1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav-hide {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0063B1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    background-color:;
    display: block;
    transition: 0.1s;
}
.enlaces {
    display: none;
    
}
.sidenav a:hover {
    color: black;
    background-color: white;
}

/* Contenido */

.main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 2%;
}
.main-hide {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 15%;
}
.superior {
    
    //border: 1px solid black;
    //display: table-row;
}
.celda2 {
    width: 450px;
    //border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

/* Tiles */

.tile {
    min-width: 250px;
    background-color: white;
}
.tile:hover {
    background-color: transparent;
}
.tile a {
    display: block;
    height: 35px;
    line-height: 35px;
    padding-left: 18px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.tile img {
    vertical-align:text-top;
    margin-right: 5px;
}
.tile a:hover {
    color: white;
    //border: 1px solid yellow;
    animation: fadeEffect 1s;
}
.fila {
    //display: table;
    vertical-align: top;
    //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    //height: 600px;
    //background-color: rgba(255,255,255,1);
    margin-left: 25px;
    //margin-right: auto;
    margin-top: 15px;
     -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    text-align: left;
}
/*.fila div:first-of-type {
    padding-top: 5px;
}
.fila div:last-of-type {
    padding-bottom: 5px;
}*/
.filas {
    margin-left: auto;
    margin-right: auto;
    //display: table;
    width: auto;
    
}
.filas h3 {
    font-family: system-ui;
    margin: 0;
    padding: 10px 10px;
    //background-color: #0078D7;
    color: white;
    //margin-bottom: 10px;
    font-weight: 300;
}
.centrar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

/* Clases para ocultar o mostrar elementos */

.oculto {
    visibility: hidden;
    //display: none;
}
.visible {
    visibility: visible;
}
.oculto2 {
    display: none;
    
    
}
.visible2 {
    display: inline-block;
    
}
.visible3 {
    display: table-cell;
}

/* CSS de schools */

/* Create an active/current tablink class */

div.sidenav a.active {
    background-color: white;
    color: black;
}

/* Style the tab content */

.tabcontent {
    display: none;
     -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fadeEffectout {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Weather */

@font-face {
    font-family: 'weather';
    src: url('weather/artill_clean_icons-webfont.eot');
    src: url('') format('embedded-opentype'),
         url('weather/artill_clean_icons-webfont.woff') format('woff'),
         url('weather/artill_clean_icons-webfont.ttf') format('truetype'),
         url('weather/artill_clean_icons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
    position: absolute;
    top: 0px;
    left: 25px;
    width: 375px;
    height: auto;
    margin-left: 25px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    //transition: 0.3s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(0, 0, 0,.9);
}
#weather h2 {
    margin: 0;
    padding-right: 15px;
    color: white;
    font-size: 30px;
    display: inline-block;
}
#weather p {
    float: right;
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    line-height: 20px;
    //padding-right: 15px;
    width: 55%;

}
.currently {
    font-size: 8px;
}
#weather img.grande {
    
    width: 90%;
    height: auto;
}
.containerw {

    position: relative;
    width: 35%;
    margin-left: 15px;
    display: inline-block;
}
.tempw {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}
.previw {
   
    clear: both;
    //border-top: 1px solid white;
    padding-top: 5px;
}
.previw img {
    width: 25%;
    padding: 0 15px;
    //background-color: aqua;
}
.ciudad {

    font-size: 15px
}
.tmp {
    font-size: 8px;
}
.negrita {
    
    font-weight: bold;
}
.data {
    text-align: right;
}

div.container {
    
    text-align: center;
    padding: 0px 20px;
    //background-color: rgba(255, 127, 80,.3);
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 25%;
    border-radius: 5px;
    font-size: 10px;
}

div.container h3 {
  
    text-transform: uppercase;
    color: white;
    margin-top: 0;
   
}

/* Búsqueda */

input[type=search] {
    width: 500px;
    height: 35px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    vertical-align: middle;
    color: black;
    background-color: rgba(255,255,255,.);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    text-indent: 10px;
}
input[type=search]:focus {
    outline: none !important;
}
#busqueda {
    //border: 1px solid black;
    //display: block;
    //margin-left: 15px;
}
.controles {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    //display: inline-block;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Saludo */

#saludo h1{
    
    color: white;
    font-family: system-ui;
    text-transform: uppercase;
    font-weight: 100;
    background-color: rgba(0, 0, 0,.9);
    padding: 10px;
    margin: 0;
    width: 450px;
    text-align: center;
}
#saludo {
    display: inline-block;
    //margin-left: 15px;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    //width: auto;
}
.botones {
    //margin-left: 15px;
    display: inline-block;
    padding: 5px;
    width: 450px;
    //border-radius: 10px;
   
}
#reloj {
    font-family: 'Montserrat';
    font-size: 29px;
    letter-spacing:3px;
    color: white;
    padding: 5px;
    display: inline-block;
    //border-radius: 10px;
    vertical-align: middle;
    //border: 1px solid white;
    margin-left: 150px;
}

#logo {
    vertical-align: middle;
    width: 35px;
    margin-left: 5px;
}
#logo:hover {
    cursor:pointer;
}
#add {
    vertical-align: middle;
    width: 35px;
    margin-left: 5px;
}
#add:hover {
    cursor: pointer;
}
#settings {
    vertical-align: middle;
    width: 35px;
    margin-left: 5px;
}
#settings:hover {
    cursor: pointer;
}
#clima {
    vertical-align: middle;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
}
#clima:hover {
    cursor: pointer;
}

#menumovil {
    display: none;
}

/* Pie */

.footer {
    position:fixed;
    bottom: 0;
    //border: 1px solid;
    display: block;
    width: 97.5%;
    left: 2%;
    height: 50px;
    text-align: center;
    
}

/* Responsive */

@media only screen and (max-width: 450px) {
   .sidenav {
      padding-top: 15px;
      //width: 0%;
    }
   .sidenav a {
      font-size: 18px;
    }
    #weather {
        //display: block;
        margin: 0;
        width: 100%;
        position: inherit;
    }
    .main {
        padding: 0;
        margin: 0;
    }
    #saludo {
        display: block;
        font-size: 12px;
        text-align: center;
        width: 100%;
        padding: 0;
            
    }
    #saludo h1{
        width: 100%;
    }
    .celda2 {
        margin-top: 15px;
        width: 100%;
        display: block;
    }
    .botones {
        display: block;
        margin: 0;
        text-align: center;
        border-radius: 0;
        margin-top: 0;
        width: 100%;
    }
    #reloj {
        
        margin-left: 25px
        
        
    }
    .fila {
        //display: block;
        width: 100%;
        margin: 0;
    }
    .filas {
        margin: 0;
        //display: block;
        width: 100%;
    }
    .filas h3 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    input[type=search] {
        
        width: 100%;
    }
    #menumovil {
        display: block;
        width: 40px;
        background-color: rgba(0, 99, 177,.6);
        transition: 0.5s;
    }
    .menumovil-hide{
        
        transition: margin-left .5s;
        margin-left: 60%;
    }
    .sidenav {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #0063B1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav-hide {
        height: 100%;
        width: 60%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #0063B1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .visible2 {
        display: block;
    }
    .visible3 {
        display: block;
    }
    .tile a:hover {
        background-color: aqua;
        color: black;
        box-shadow: none;
    }
    .tile a {
        height: 50px;
        line-height: 50px;
    }
    #weather p {
        float: right;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: white;
        line-height: 20px;
        //padding-right: 15px;
        width: 55%;

    }
    .currently {
        font-size: 10px;
    }
    .tmp {
        font-size: 10px;
    }
    body{
        background-attachment: initial; /*debe ser fixed!!!*/
        
    }
}
    
   